In [86]:
import pandas as pd

import numpy as np
import os

In [112]:
def drop_columns(df, cols):
    """
    This function removes the columns from a DataFrame.
    """
    for col in cols:
        try:
            df.drop([col], axis=1, inplace=True)
        except Exception as e:
            print(f"Bir hata oluştu: {e}")

In [113]:
files = os.listdir('hepsiemlak')
df = pd.concat([pd.read_csv(f"hepsiemlak/{file}") for file in files], ignore_index = True)

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   img-link href        8136 non-null   object
 1   photo-count          8130 non-null   float64
 2   list-view-price      8136 non-null   object
 3   list-view-date       8136 non-null   object
 4   celly                8136 non-null   object
 5   celly 2              8136 non-null   object
 6   celly 3              8136 non-null   object
 7   celly 4              6858 non-null   object
 8   list-view-header     8129 non-null   object
 9   list-view-location   8136 non-null   object
 10  he-lazy-image src    7649 non-null   object
 11  left                 8114 non-null   object
 12  img-wrp href         4555 non-null   object
 13  he-lazy-image src 2  4067 non-null   object
 14  branded__text        134 non-null    object
 15  branded__text 2      134 non-null    object
 16  img-wrp href 2       133 non-null    object
 17  he-lazy-image src 3  116 non-null    object
dtypes: float64(1), object(17)
memory usage: 1.1+ MB

In [115]:
df.head()

,img-link href,photo-count,list-view-price,list-view-date,celly,celly 2,celly 3,celly 4,list-view-header,list-view-location,he-lazy-image src,left,img-wrp href,he-lazy-image src 2,branded__text,branded__text 2,img-wrp href 2,he-lazy-image src 3
0,https://www.hepsiemlak.com/usak-banaz-cumhuriy...,10.0,7.0,15-04-2024,3 +\n 1,150 m²,20\n Yaşında,Kot 2,Banazda Şehir Merkezinde Heryere Ulaşimi Çok Y...,"Banaz, Cumhuriyet Mahallesi",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.hepsiemlak.com/usak-merkez-kemaloz...,17.0,8.5,07-04-2024,2 +\n 1,110 m²,8\n Yaşında,1. Kat,Kemalöz Semt Pazarı Yanı Kiralık 2+1 Daire,"Merkez, Kemalöz Mahallesi",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.hepsiemlak.com/usak-merkez-kemaloz...,11.0,7.0,29-03-2024,1 +\n 1,60 m²,Sıfır Bina,4. Kat,Bakır Gayrimenkul Den Kiralık Atapark Yakını K...,"Merkez, Kemalöz Mahallesi",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.hepsiemlak.com/usak-merkez-durak-k...,13.0,7.0,30-03-2024,1 +\n 1,50 m²,10\n Yaşında,5. Kat,Fatih Caddesi Üzerinde Lüks Kiralık 1+1 Apart,"Merkez, Durak Mahallesi",https://hecdn01.hemlak.com/mncropresize/182/13...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.hepsiemlak.com/usak-merkez-cumhuri...,50.0,16.5,30-03-2024,4 +\n 1,300 m²,11\n Yaşında,7. Kat,"Uşak,Merkez,Cumhuriyet Mah.Kiralık 4+1 Dubleks...","Merkez, Cumhuriyet Mahallesi",https://hecdn01.hemlak.com/mncropresize/182/13...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
df.columns

Index(['img-link href', 'photo-count', 'list-view-price', 'list-view-date',
       'celly', 'celly 2', 'celly 3', 'celly 4', 'list-view-header',
       'list-view-location', 'he-lazy-image src', 'left', 'img-wrp href',
       'he-lazy-image src 2', 'branded__text', 'branded__text 2',
       'img-wrp href 2', 'he-lazy-image src 3'],
      dtype='object')

In [117]:
cols = ['photo-count', 'list-view-date', 'list-view-header', 'list-view-location', 'he-lazy-image src', 'left', 'img-wrp href', 'he-lazy-image src 2', 'branded__text', 'branded__text 2', 'img-wrp href 2', 'he-lazy-image src 3']
drop_columns(df, cols)

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   img-link href    8136 non-null   object
 1   list-view-price  8136 non-null   object
 2   celly            8136 non-null   object
 3   celly 2          8136 non-null   object
 4   celly 3          8136 non-null   object
 5   celly 4          6858 non-null   object
dtypes: object(6)
memory usage: 381.5+ KB

In [119]:
df['location'] = df['img-link href'].apply(lambda x: x.split('/')[3])
df['city'] =  df['location'].str.split('-').str[0]
df['district'] =  df['location'].str.split('-').str[1]
df['neighborhood'] =  df['location'].str.split('-').str[2:-1]
df['neighborhood'] =  df['neighborhood'].apply(lambda x:'_'.join(x))

In [121]:
drop_columns(df, ['location', 'img-link href'])

Bir hata oluştu: "['location'] not found in axis"
Bir hata oluştu: "['img-link href'] not found in axis"

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8136 entries, 0 to 8135
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   list-view-price  8136 non-null   object
 1   celly            8136 non-null   object
 2   celly 2          8136 non-null   object
 3   celly 3          8136 non-null   object
 4   celly 4          6858 non-null   object
 5   city             8136 non-null   object
 6   district         8136 non-null   object
 7   neighborhood     8136 non-null   object
dtypes: object(8)
memory usage: 508.6+ KB

In [125]:
df[['city', 'district','neighborhood']].sample(20)

         city      district              neighborhood
6823   manisa      turgutlu               selvilitepe
7440    mugla       dalaman                  karacali
2031    izmir       menemen                 kasimpasa
1920    izmir     karsiyaka                  bostanli
4922    izmir     karsiyaka               fikri_altay
2801    izmir       balcova                cetin_emec
7339    mugla        bodrum                 yalikavak
2462    izmir          urla               zeytinalani
7048    mugla      koycegiz                  beyobasi
5829    mugla       mentese                  orhaniye
3744    aydin      kusadasi                cumhuriyet
302     izmir         konak                kemal_reis
7518    mugla        bodrum                 yokusbasi
7356    mugla        ortaca                eksiliyurt
1661    izmir       bornova                kazimdirik
4499  denizli  merkezefendi               degirmenonu
5881    mugla       fethiye               menteseoglu
3614    aydin        efeler  hasanefendi_ramazan_pasa
7483    mugla         milas                    gulluk
4039  denizli     pamukkale               asmalievler